@font-face {
  font-family: 'Moria';
  src: url(/fonts/moria-citadel.regular.ttf)
}

* {
  margin: 0;
  text-decoration: none;
  font-family: 'Moria';
  scroll-behavior: smooth;
  border: none;
  outline: none;
}

:root {
  --bg-color: #4f4736;
  --second-bg-color: #74674e;
  --text-color: #5db6b4;
  --main-color:  #FFD700;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
}

.header {
  background-color: var(--second-bg-color);
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  
  
}

.logo {
  font-size: 3.4rem;
  color: var(--main-color);
}

.navbar {
  overflow: hidden;
  color: var(--main-color);
  font-family: Arial;
  display: flex;
}

.navbar a {
  float: left;
  color: var(--main-color);
  font-size: 16px;
  color:var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.sounds-dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color:var(--text-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


.navbar a:hover,
.dropdown:hover .dropbtn, .navbar a.active {
  color: var(--main-color);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 1rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.64);
  padding: 7rem;
  
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h1 {
  color: blue;
  font-size: 2rem;
}

.dropdown-combat-content .combatbtn {
  display: none;
  /* Additional styles for positioning and appearance */
}

.dropdown-combat-content.show .combatbtn {
  display: block;
}


